//
   Created by ryanki10 on 07/11/15.

div.nowShowingToday(layout="column" ng-controller="NowShowingTodayController as vm")
   md-toolbar
      div.md-toolbar-tools(layout layout-align="start end")
         i
            md-icon.back-arrow(md-svg-icon="ic_arrow_back_24px")
   .showingToday(flex layout layout-align="center center")
   md-toolbar(layout layout-align="center center")
      h5.show-time.md-title.
         um 11:00