.nowShowingToday {
  height: 100%;
}
.nowShowingToday .showingToday {
  background: url("/assets/images/minions2.jpeg") no-repeat center center fixed;
  background-size: content;
}
.nowShowingToday .show-time {
  font-family: 'Roboto Condensed Bold', Helvetica, sans-serif;
}
