.nowShowing {
  height: 100%;
}
.nowShowing .splash {
  text-transform: uppercase;
  color: #fff;
  background-color: #8b0000;
}
.nowShowing md-toolbar.md-default-theme:not(.md-menu-toolbar),
.nowShowing md-toolbar:not(.md-menu-toolbar) .md-button {
  font-weight: bold;
  color: #000;
}
