.nowShowing
  height: 100%;
  .splash
    text-transform: uppercase;
    color: white;
    background-color: darkred;
  md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) .md-button
    font-weight: bold;
    color: black;